<div class="card position-absolute top-50 start-50 translate-middle" id="job-card-props">
    <div class="overflow-auto">
        <div class="card-header" id="header-props">
            Job List
        </div>
        <div class="card-body">
            <div class="mb-3 row">
                <label class="col-sm-5 col-form-label fw-bold" >
                    Category
                </label>
                <div class="btn-group col-sm-7">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">All Jobs</a></li>
                      <li><a class="dropdown-item" href="#">Govt Jobs</a></li>
                      <li><a class="dropdown-item" href="#">Contract jobs</a></li>
                    </ul>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-5 col-form-label fw-bold" >
                    Emp Type
                </label>
                <div class="btn-group col-sm-7">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">All Jobs</a></li>
                      <li><a class="dropdown-item" href="#">Govt Jobs</a></li>
                      <li><a class="dropdown-item" href="#">Contract jobs</a></li>
                    </ul>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-5 col-form-label fw-bold" >
                    Job Level
                </label>
                <div class="btn-group col-sm-7">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">All Jobs</a></li>
                      <li><a class="dropdown-item" href="#">Govt Jobs</a></li>
                      <li><a class="dropdown-item" href="#">Contract jobs</a></li>
                    </ul>
                </div>
            </div>
            <div class="mb-3 row">
                <span>
                    <input type="text" value="Add list of jobs based on category"/>
                </span>
            </div>
        </div>
    </div>
</div>