<div class="card position-absolute top-50 start-50 translate-middle" id="card-props">
    <div class="card-header" id="header-props">
        Register
    </div>
    <div class="card-body">
        <div class="mb-3 row">
            <label class="col-sm-5 col-form-label fw-bold" >
                Name:
            </label>
            <div class="col-sm-7">
              <input type="text" class="form-control-plaintext" placeholder="Enter your name">
            </div>
        </div>
         <div class="mb-3 row">
            <label class="col-sm-5 col-form-label fw-bold">
                Expertise:
            </label>
            <div class="col-sm-7">
              <input type="text" class="form-control-plaintext" placeholder="At what you are expert">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-5 col-form-label fw-bold">
                Email Id:
            </label>
            <div class="col-sm-7">
              <input type="text" class="form-control-plaintext" placeholder="Enter your Email ID">
            </div>
          </div>
          <div class="mb-3 row col-sm-14">
              <input type="file" class="form-control" >
          </div>
          <div class="mb-3 row">
            <button type="submit" class="btn btn-success col-sm-6" >
                Register With Us
            </button>
        </div>
    </div>
</div>
