<div class="card position-absolute top-50 start-50 translate-middle" id="card-props">
    <div class="card-header" id="header-props">
        Register
    </div>
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="mb-3 row form-group">
          <label class="col-sm-5 col-form-label fw-bold" >
              Name
          </label>
          <div class="col-sm-7 form-group">
            <input type="text" class="form-control-plaintext" formControlName="name" placeholder="Enter your name">
          </div>
        </div>
        <div class="mb-3 row form-group">
          <label class="col-sm-5 col-form-label fw-bold">
              Expertise
          </label>
          <div class="col-sm-7 form-group">
            <input type="text" class="form-control-plaintext" formControlName="expertise" placeholder="At what you are expert">
          </div>
        </div>
        <div class="mb-3 row form-group">
          <label class="col-sm-5 col-form-label fw-bold">
              Email Id
          </label>
          <div class="col-sm-7 form-group">
            <input type="text" class="form-control-plaintext" formControlName="email" placeholder="Enter your Email ID">
          </div>
        </div>
        <div class="mb-3 row col-sm-14 form-group">
            <input type="file" class="form-control" formControlName="resumeFile" >
        </div>
        <div class="mb-3 row form-group">
          <button type="submit" class="btn btn-success col-sm-6">
              Register With Us
          </button>
        </div>
      </form>
    </div>
</div>
