<div class="nav justify-content-center">
    <ul class="nav nav-pills" id="pills-tab" role="tablist">
          <a class="nav-link" id="pills-home-tab" data-bs-toggle="pill" role="tab" aria-selected="true" routerLink="/register" >Register</a>
          <a class="nav-link" id="pills-home-tab" data-bs-toggle="pill" role="tab" aria-selected="false" routerLink="/search" >Job Search</a>
          <a class="nav-link" id="pills-home-tab" data-bs-toggle="pill" role="tab" aria-selected="false"  >Job List</a>
          <a class="nav-link" id="pills-home-tab" data-bs-toggle="pill" role="tab" aria-selected="false"  >Job Description</a>
          <a class="nav-link" id="pills-home-tab" data-bs-toggle="pill" role="tab" aria-selected="false"  >Job History</a>
      </ul>
</div>
<div>
    <router-outlet></router-outlet>
</div>


