<div class="card position-absolute top-50 start-50 translate-middle" id="job-card-props">
    <div class="overflow-auto">
        <div class="card-header" id="header-props">
            Job Description
        </div>
        <div class="card-body">
            <div class="mb-3 row">
                <span>
                    <input type="text" value="Add list of jobs based on category"/>
                </span>
            </div>
            <div class="mb-3 row">
                <button type="submit" class="btn btn-light col-sm-4">
                    Cancel
                </button>
                <button type="submit" class="btn btn-success col-sm-4">
                    Apply
                </button>
            </div>
        </div>
    </div>
</div>