/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
#card-props {
    width: 35rem;
    height: 20rem;
    align-items: center;
    background-color: floralwhite;
}

#header-props {
    align-items: center;
    font-weight: bold;
}

#center-align {
    align-items: center;
}

#job-card-props {
    width: 60rem;
    height: 30rem;
    background-color: floralwhite;
}